footer{
    background: #f0f0ce;
    height: 140px;
}

#navfooter{
    background:0;
    display: flex;
    align-items:center ;
    width:100%;
    text-align: center;
}
footer ul{
    background-color: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
   
   
}
footer li{
    display: inline;
}

#contenedorF{
    background:0;
    width:100%;  
}

div p{
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    text-align: center;
    color: #226137;
}

img{
    width: 15%;
    opacity: 40%;
    margin-left: auto;
    margin-right: auto;
}

#horario{
    padding-top: 12px;
    font-size: 170%;
}