header{ 
    background: #f0f0ce;
    display: flex;
    height: 120px;
    }
    #contenedor1{
        background:0;
        width:40%;  
        display: flex;
        align-items: center;
      }
    
    
    h1{
        background: 0;
        color:#226137;
        font-size: 50px;
        height: 120px;
        display: flex;
        align-items: center;
        margin-right:20px ;
        
     
    }
    
    nav{
        background:0;
        margin-left:auto;
        display: flex;
        align-items:center ;
        width:50%;
    }
    ul{
        background-color: 0;
        width: 100%;
        display: flex;
        justify-content:space-around;
       
       
    }
    li{
        display: inline;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#226137;
        font-weight: bold;
    }
    #imglogo{
        width: 120px;
        margin-right: 30px;
        margin-left: 50px;
        opacity: 100%;
    }