#sectionuno{
    background: rgba(255,255,255,255);
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:10px ;
    padding-top: 10px;
    padding-bottom:30px ;
  

}

#section{
    background-image: url('../img/animals-2222007_1920.jpg');
    /*background-repeat: no-repeat;/*Para que la imagen no se repita*/
    background-size: cover;
    height: 400px;
    
    margin-top:10px ;
    padding-top: 30px;
    padding-bottom:30px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p{
    background: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    width: 70%;
    text-align: center;

}

#sectionuno h1{
    width: 100%;
    color: #000; 
    height:40px;
    margin-bottom: 30px;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 30px;
}

#art1{    background-color:rgba(29, 175, 0, 0.5) ;
}

#art2{
    background-color: rgba(0, 213, 255, 0.5);
}

#art3{
    background-color: rgba(255, 128, 0,0.5);
}

#art4{
    background: rgba(255,255,255,0.5)
}

#art5{
    background-color:rgba(255, 69, 0,0.5) ;
}

.art{
  width:80%; 
  padding: 10px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Elevación fuerte */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art img{
    width:100% ;
    opacity:0.8;
    transition:opacity 0.3s ease ;
}

.art img:hover{
    opacity: 1;
}

#contenedor2{
    background-color: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#contenedor2 h1{
    width: 100%;
    color: #000;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 30px;
}

#imge{
    width: 50%;
    height:400px ;
    background-image: url('../img/fun-2213606_1920.jpg');
     background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

#txt {
    width: 45%;
    font-size: 20px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3); /* Elevación fuerte */
}

@media screen and (min-width:300px) and (max-width:420px){
    body{
        background-color: red;
    }
}

@media screen and (min-width:421px) and (max-width:720px){
    body{
        background-color: yellowgreen;
    }
}