#sectionuno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom:30px ;
    background-image: url('../img/menu_back.png');
    background-size: cover;
    background-repeat: repeat;
}

#section{
    background-image: url('../img/animals-2222007_1920.jpg');
    /*background-repeat: no-repeat;/*Para que la imagen no se repita*/
    background-size: cover;
    height: 400px;
    
    margin-top:10px ;
    padding-top: 30px;
    padding-bottom:30px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionuno h1{
    width: 100%;
    height:40px;
    margin-bottom: 30px;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 30px;
}

#art1{    background-color:rgba(29, 175, 0, 0.5) ;
}

#art2{
    background-color: rgba(0, 213, 255, 0.5);
}

#art3{
    background-color: rgba(255, 128, 0,0.5);
}

.art{
  width:31%; 
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Elevación fuerte */transition: transform 0.3s ease, box-shadow 0.3s ease;    
  text-align: center;
  border-radius: 20px;
}

.art h1{
    justify-content: center;
}

.art img{
    width:100% ;
    opacity:0.8;
    transition:opacity 0.3s ease ;
    border-radius: 20px;
}

.art img:hover{
    opacity: 1;
}

@media screen and (min-width:300px) and (max-width:420px){
    body{
        background-color: red;
    }
}

@media screen and (min-width:421px) and (max-width:720px){
    body{
        background-color: yellowgreen;
    }
}